# Dependencies for HPU code
ray>=2.48.0
pandas>=2.2.3
numba>=0.58.0
numpy>=1.26.0
transformers>= 4.56.0, <5
neural-compressor-pt @ file:///software/users/dsemiat/dynamic_quant/vllm/neural_compressor_pt-3.5.dev4+ga3204838c-py3-none-any.whl
